<!DOCTYPE html>
<html>
<head>
    <title>Contact RecipeShare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container full-height">
        <div class="center-content">
            <h2>Contact RecipeShare</h2>
            <p>If you have any questions, feedback, or inquiries, please feel free to contact us:</p>
            <ul>
                <li>Email: contact@recipeshare.com</li>
                <li>Phone: 123-456-7890</li>
            </ul>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
