<!DOCTYPE html>
<html>
<head>
    <title>Contact RecipeShare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container full-height">
        <div class="center-content">
            <h2>Contact RecipeShare</h2>
            <br>If you have any questions, feedback, or inquiries, please feel free to contact us:
            <ul>
                <br>Email: contact@recipeshare.com
                <br>Phone: 123-456-7890
            </ul>
        </div>
    </div> 

    {% include 'footer.html' %}
</body>
</html>
