@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Navbar styles */
.navbar {
    background-color: #ff7300;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-brand a{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li:last-child {
    margin-right: 0;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-menu a:hover {
    text-decoration: underline;
}
